.container {
    width: 100%;
    height: 200px;
    background-color: darksalmon;
    padding-top: 10px;
}

.form1 {
    margin: 50px 200px 100px 100px;
    display: flex;
    justify-content: space-around;
    
}

.book-form {
    display: flex;
    flex-direction: column;
}

.book-labels {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
    font-weight: 900;
    color: black;
    text-transform: capitalize;
}

.book-textbox {
    width: 150px;
    height: 30px;
    
}

.book-button {
    width: 180px;
    height: 30px;
    margin-top: 28px;
    background-color: coral;
}

.container2 {
    width: 100%;
    margin-top: 50px;
}

.text-wraper {
    margin-left: 150px;
}

.title1 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
   
}
.title2 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.form2 {
    margin: 50px 0px 50px 150px;
    display: flex;
}

.textarea-block {
    width: 700px;
    height: 260px;
}

.input-block {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 10px;
    border: solid;
    border-width: 0.5px; 
    border-color: slateblue;
    background-color: lightgray; 
}

.button2 {
    width: 250px;
    height: 50px;
    margin-left: 50px ;
    border: solid;
    border-width: 0.5px; 
    border-color: rgb(90, 182, 205);
    background-color: coral;
}

.container3 {
    width: 100%;
    margin-top: 50px;
}

.contact-info {
    display: flex;
}
.c-info {
    margin-left: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.title3 {
    font-weight: 700;
    margin: 10px 0 10px 0;
    font-size: 16px;
}
.text {
   margin-bottom: 5px;
   font-size: 14px;
}

.fav-icon {
    width: 70px;
    height: 70px;
    background-color: #f88b58;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }